html {
  scroll-behavior: smooth;
}

.btn-primary {
  background-color: rgb(129, 85, 220) !important;
  border-color: rgb(129, 85, 220) !important;
  border-radius: 14px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: rgb(102, 58, 189) !important;
  border-color: rgb(102, 58, 189) !important;
  border-radius: 6px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.btn-secondary {
  background-color: rgb(141, 138, 165) !important;
  border-color: rgb(141, 138, 165) !important;
  border-radius: 14px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.22);
  transition: 0.3s;
}

.btn-secondary:hover {
  background-color: rgb(110, 107, 134) !important;
  border-color: rgb(110, 107, 134) !important;
  border-radius: 6px;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

h1 {
  color: rgb(46, 40, 89) !important;
}

.title {
  color: rgb(46, 40, 89) !important;
  font-family: 'Acme', sans-serif;
  font-size: 28px;
}

.nav-link {
  color: rgb(80, 85, 117) !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.badge-primary {
  color: #fff;
  background-color: rgb(129, 85, 220);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
