body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Font';
  src: local('Font'), url(./fonts/font.otf) format('truetype');
}

@font-face {
  font-family: 'Font-Bold';
  src: local('Font-Bold'), url(./fonts/font-bold.otf) format('truetype');
}

@font-face {
  font-family: 'Font-Light';
  src: local('Font-Light'), url(./fonts/font-light.otf) format('truetype');
}
